
@media (max-width: 2048px) {
    .featuredItem {
        background: black;
        margin: 2em 2em 2em 2em;
        padding: 1em 1em 1em 1em;
        max-width: 20vw;
        text-align: center;
        border-radius: 7px;
    }
}

@media (max-width: 1024px) {
    .featuredItem {
        background: rgba(0,0,0,0.5);
        margin: 0em 2em 0.5em 2em;
        padding: 1em 1em 1em 1em;
        max-width: 80vw;
        text-align: center;
        border-radius: 9px;
    }
}